dagster==1.5.5
dagster-dbt==0.21.5
dagster-docker==0.21.5
dagster-gcp==0.21.5
dagster-gcp-pandas==0.21.5
dagster-graphql==1.5.5
dagster-webserver==1.5.5
dbt-bigquery==1.6.7
textblob==0.17.1
tweepy==4.14.0